BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
AccessModifierOffset: 0
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: true
ColumnLimit: 100